$color-principal: black;
$color-base: #666;
$color-light: #ffff;

$color-complementario: #FAF401;
$color-complementario2: #7D19FA;

$color-complementario3: #FA510C;
$color-complementario4: #19FAD6;

$color-complementario5: #A14271;
$color-complementario6: #ED91BF;

/* MAP */
$colores: (
    color1: #FAF401,
    color2: #7D19FA,
    color3: #FA510C,
    color4: #19FAD6,
    color5: #A14271,
    color6: #ED91BF
);
/* MAP */

$fuente-titulos: sans-serif;
$fuente-regular: sans-serif;

$borde-redondo: 10px;

$container: 10px;